/* Estilizando o trilho da scrollbar */
::-webkit-scrollbar {
    width: 7px; /* Largura da barra de rolagem vertical */
    height: 7px; /* Altura da barra de rolagem horizontal */
  }
  
  /* Estilizando a parte interna da scrollbar */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor de fundo do trilho */
    border-radius: 10px; /* Arredondamento dos cantos */
  }
  
  /* Estilizando o polegar (thumb) da scrollbar */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Cor do polegar */
    border-radius: 0px; /* Arredondamento dos cantos */
  }
  
  /* Estilizando o polegar ao passar o mouse sobre ele */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor do polegar quando hover */
  }
  
  /* Estilizando o canto da scrollbar (onde a barra horizontal e vertical se encontram) */
  ::-webkit-scrollbar-corner {
    background: #f1f1f1; /* Cor de fundo do canto */
  }
  